@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@1,100&display=swap');

:root{
    --azul_royal:rgb(141, 109, 255);
    --azul_sidebar: rgb(7, 3, 59);
}

/* google fonts */
body{
    background-color: rgb(158, 170, 166);
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0vw;
    padding: 0vw;
}

header{
    background: rgb(18, 8, 53);
    box-shadow: 0.1px 5px 5px var(--azul_royal);
    justify-content: space-between;
}

.logo_header{
    display:flex;
    align-items: center;
    color:var(--azul_royal);
}

header, .navegation_header{
    font-size: 1.7vw;
    padding: 0.9vw 0.8vw;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.navegation_header{
    gap: 2vw;
    z-index: 2;
}

.navegation_header a{
    text-decoration: none;
    color: var(--azul_royal);
    text-align: center;
    gap: 5vw;
}

header a:hover{
    background-color: rgb(94, 96, 170);
    color:  rgb(0, 0, 0);
    border-radius: 0.5vw;
}

header img{
max-width: 5vw;
max-height: 5vw;
width: auto;
height: auto;
}

header .btn_header{
    background-color: transparent;
    border-color: transparent;
    color:white;
    display:none;
}

@media screen and (max-width:600px){
    header .btn_header{
        display:contents
    }    

    header .logo_header p{
        display: none;
    }

    .navegation_header{
        position:absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--azul_sidebar);
        padding: 2vh;
        height: 100%;
        width:25vw;
        margin-left: -100vw;
        animation-duration: 0.8s;
    }
    .navegation_header a{
        margin-top: 0.9vw;
        color: var(--azul_royal);
        font-size: 1.3vh;
    }
    }
    
    @keyframes showSideBar {
        from {margin-left: -100vw;}
        top {margin-left: -1vw;} 
    }
    @keyframes showSideBar2{
        from {margin-left: -1vw;}
        top {margin-left: -100vw;}
    }

h1,h2,h2{
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
}

::selection{
    color:blue;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

p{
    margin: 0.5vw;
    margin-left: 2vw;
    line-height: 25px;
    letter-spacing: 1px; /*espaçamento entre as letras */
    word-spacing: 5px; /* espaçamento entre as palavras*/
    font-weight: bold; /* "grossura" das letras */
}

img{
    border-radius: 7px;
    cursor:pointer;
    transition: .5s;
    max-width: 360px;
    max-height: 340px;
    width: auto;
    height: auto;
    display: block;
    margin-left: 2.6vw;
}

img:hover{
    transform:scale(1.1)
}

.formulario{
    max-width: 25vw;
    font-weight: bold;
    margin:auto;
    margin-bottom: 1vw;
}

.formulario input, button{
    background-color: transparent;
    border-radius: 5px;
    padding: 0.6vw;
    width: 100%;
}

.formulario .submit{
    font-weight: bold;
}

.formulario .submit:hover{
    background:rgb(18, 8, 53); 
    color:rgb(55, 0, 255);
    border-color: rgb(55, 0, 255);
    transition: 0.3s;
    cursor: pointer;
}

.footer{
    color:beige;
    background: rgb(18, 8, 53);
    margin: initial;
    padding: initial;
    padding: 0.6vw;
    display: flex;
    justify-content: center;
    font-size: 0.9vw;
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer img{
    max-width: initial;
    max-height: initial;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;

}