@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@1,100&display=swap');

/* google fonts */
body{
    background-color: rgb(158, 170, 166);
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0vw;
    padding: 0vw;
}

header{
    background: rgb(18, 8, 53);
    box-shadow: 0.1px 5px 5px rgb(55, 0, 255);
    justify-content: space-between;
}

.logo_header{
    display:flex;
    align-items: center;
    color:rgb(55, 0, 255);
}

header, .navigation_header{
    margin-bottom: 20px;
    font-size: 1.4vw;
    padding: 0.9vw 0.8vw;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.navigation_header{
    gap: 2vw;
}

.navigation_header a{
    text-decoration: none;
    color: rgb(82, 98, 238);
    text-align: center;
    gap: 5vw;
}

header a:hover{
    background-color: rgb(94, 96, 170);
    color:  rgb(24, 29, 73);
}

header img{
max-width: 5vw;
max-height: 5vw;
width: auto;
height: auto;
}

header .btn_header{
    background-color: transparent;
    border-color: transparent;
    color:white;
    display: none;
}

@media screen and (max-width:700px){
    .btn_header{
        display: block;
    }    
    .navigation_header{
        position:absolute;
        flex-direction: column;
        margin-top: 0vw;
        padding: 2em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showsideBar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}   
}

h1,h2,h2{
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
}

::selection{
    color:blue;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

p{
    margin: 0.5vw;
    margin-left: 2vw;
    line-height: 25px;
    letter-spacing: 1px; /*espaçamento entre as letras */
    word-spacing: 5px; /* espaçamento entre as palavras*/
    font-weight: bold; /* "grossura" das letras */
}

img{
    border-radius: 7px;
    cursor:pointer;
    transition: .5s;
    max-width: 360px;
    max-height: 340px;
    width: auto;
    height: auto;
    display: block;
    margin-left: 2.6vw;
}

img:hover{
    transform:scale(1.1)
}

.formulario{
    margin: 2vw;
    max-width: 500px;
    font-weight: 900;
}

.formulario label, input{
    margin-left: 1vh;
}

.formulario input{
    background-color: transparent;
    border-radius: 3px;
    padding: 0.2vw;
}

.footer{
    color:beige;
    background: rgb(18, 8, 53);
    margin: initial;
    padding: initial;
    padding: 0.6vw;
    display: flex;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    color:white;
}

.footer img{
    max-width: initial;
    max-height: initial;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;

}